/**
 * Close button for modals etc.
 */
.close-btn {
    float: right;
    border: none;
    background-color: #f000;;
    font-size: 30px;
    font-weight: 800;
}


.beta {
    width: 20%;
    float: right;
    position: relative;
    height: 10%;
    z-index: 1000;
}

.link {
    background-color: #24232d;  
}

.beta:after {
    content: " beta";
    text-align: center;
    align-content: stretch;
    position: absolute;
    width: 180%;
    margin-top: -50%;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    font-size: 50px;
    font-weight: 600;
    text-shadow: -1px 0 #382020, 0 1px #5a4f4f, 1px 0 #e21212, 0 -1px #cc1a1a;
    background-color: #cc7b7e;
}


.formclass {
    max-width: 800px;
}

.left-float {
    float: left;
    margin-left: 20px;
}

.content_wrapper {
	margin-top: 0px;
}

h3.mypage {
    padding-bottom: 20px;
    float: left;
}

p.help {
    color: #24232d;
    padding: 20px;
    float: none;
    width: 100%;
    padding-left: 50px;
    background-color: #aaa0ff;
  
}

.errormsg {
    color: red;
    text-align: center; 
    margin-top: 30px; 
    font-size: 15px;
}

.leftpadd {
     margin-left: 20px;
}

table {
    padding-left: 10px;
}

#miniheader {
    background-color: #24232d;
    background-image: url(../img/new_pic.png);
    height: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 120px;
    font-family: 'Varela Round', sans-serif;
    text-transform: lowercase;
    color: #f2e7e7;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    margin-top: 60px;
    padding-top: 10px;
}

.vertical-align {
    padding-top: 35%;
}

.logo {
    margin-top: -5px;
    width: 30px;
    border-radius: 5px;
}
