.white-bg {
    background-color: white;
}

.margin-top {
    margin-top: 25px;
}

.btn-small {
    width: 80px;
    margin-left: 20px;
    margin-bottom: 2px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #24232d;
    margin-top: 25px;
    font-weight: 500px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}

.action-header {
    padding-left: 20px;
    padding: 10px;
    padding-right: 20px;
    background-color: #3ecba0;
    border: none;
    color: #1a0e5d;
    height: 60px;
}

.action-nav {
    margin-top:50px;
}

.navbar-right .dropdown-menu {
    background-color: white;
    padding-left: 50px;
}


.btn-action {
    margin-bottom: 2px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #24232d;
    width: 200px;
    margin-top: 25px;
    font-weight: 500px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}

.btn-dropdown {
    margin-bottom: 2px;
    padding-left: 20px;
    padding: 10px;
    padding-right: 20px;
    background-color: white;
    border: none;
    color: #24232d;
    width: 400px;
    margin-left: -50px;
    border-radius: 10px;
    font-family: 'Varela Round', sans-serif;
}

.btn-action-dropdown:hover{
    background-color: #c8bffb;
}

.btn-dropdown:hover {
    background-color: #c8bffb;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: rgba(36, 35, 45, 0);
    padding: 5px;
}
