div.tooltip {   
    position: absolute;            
    padding: 2px;               
    font: 12px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;           
}

.table-tooltip {
    background-color: red;
}

   .button2 {
        padding: 5px 5px 5px 5px;
        display: inline-block;
        border: 2px solid orange;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        width: 250px;
        height: 30px;
        border-radius: 3px;
        color: navy;
        float: left;
        background-color: #dcdcdc;
        font-size: 16px;
    }

    .input2 {
        display: inline-block;
        border: 2px solid orange;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 10px;
        width: 250px;
        height: 30px;
        border-radius: 3px;
        color: navy;
        float: left;
        background-color: white;
        font: 16px sans-serif;
    }
    
   .button {
        padding: 5px 5px 5px 5px;
        display: inline-block;
        border: 2px solid orange;
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 50px;
        width: 400px;
        height: 70px;
        border-radius: 3px;
        color: navy;
        background-color: #dcdcdc;
        font-size: 40px;
    }
    .group {
        padding: 5px 5px 5px 5px;
        display: inline-block;
        border: 2px solid orange;
        margin-bottom: 50px;
        width: 400px;
        height: 150px;
        background-color: #dcdcdc;
    }
    .label2 {
        display: inline-block;
        margin-top: 10px;
        font: 20px sans-serif;
        color: navy;
        float: left;
    }
    .label {
        padding: 5px 5px 5px 5px;
        display: inline-block;
        margin-bottom: 30px;
        font: 40px sans-serif;
        color: navy;
    }
    .input {
        display: inline-block;
        border: 2px solid orange;
        margin-bottom: 50px;
        margin-top: -45px;
        width: 400px;
        height: 50px;
        border-radius: 3px;
        color: navy;
        background-color: white;
        font-size: 30px;
        font: 30px sans-serif;
    }
    
    .connector {
        fill: white;
        stroke: black;
    }

    .node_text {
        font: 16px sans-serif;
    }

    .connector:hover {
        fill: red;
        stroke: black;
    }

    .outline {
        fill: white;
        stroke: grey;
    }

    .bar:hover {
        fill: brown;
    }

    .bar2:hover {
        fill: purple;
    }

    .axis {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }    
